* {
    margin: 0;
    padding: 0;
    font-family: "roboto", Arial, Geneva, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: #A77200;
}

.header {
    height: 200px;
    background-image: url("images/coins.jpg");
}

.header h1 {
    color: #fff;
    line-height: 200px;
    padding: 0 0 0 20px;
    -webkit-text-stroke: 2px black;
    font-size: 10vw;
}
p{
    font-size: 2em;
}
h2{
    font-size: 3em;
}
nav {
    background-color: #fc582f;
    padding: 15px 15%;
    box-shadow: 0px 5px 5px grey;
    overflow: hidden;
    text-align: center;
}
nav ul{
    display: inline;
    
}
.left{
    float: left;
}
.right{
    float: right;
}
nav ul li {
    display: inline;
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 4px;
}


nav ul li a {
    color: #FFF;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #c92b03; 
}

.content {
    margin:
        0px 15% 5px 15%;
    padding: 10px;
}

.parallax {
    /* The image used */
    background-image: url("images/coins.jpg");
    /* Set a specific height */
    min-height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=number] {
    width: 75%;
}

input:focus {
    border: 1px solid #4688f1;
}

button,
input {
    font-size: 1.5em;
    padding: 10px;
    margin: 8px 0;
    display: inline;
    border-radius: 4px;
    box-sizing: border-box;
    outline: "none";
    border: 1px solid #ccc;
}

button {
}

form {
    display: inline;
}

#result {
    font-size: 1.5em;
    padding: 10px;
    display: inline-block;
    width: 100%
}

table {
    width: 100%;
}

.section {
    margin: 3% 0%;
}
