* {
    margin: 0;
    padding: 0;
    font-family: "roboto", "Gotham", "Helvetica", Arial, "sans-serif";
	overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: #A77200;
}

.header {
    height: 200px;
    background-image: url("images/coins.jpg");
}

.header h1 {
    color: #fff;
    line-height: 200px;
    padding: 0 0 0 20px;
    -webkit-text-stroke: 2px black;
    font-size: 5em;
}

.navbar {
    background-color: #fc582f;
    padding: 5px 40px 5px 40px;
    text-align: center;
}

.navbar ul li {
    display: inline;
    font-size: 1.5em;
    padding: 0% 10% 0% 10%;
    margin: 0px;
}

.navbar ul li:not(:last-child) {
    border-right: 3px solid #aaa;
}

.navbar ul li a {
    color: #ccc;
}

.navbar ul li a:hover {
    color: #000;
    font-weight: bold;
}

.content {
    margin:
        0px 15% 5px 15%;
    padding: 10px;
}

.parallax {
    /* The image used */
    background-image: url("images/coins.jpg");
    /* Set a specific height */
    min-height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


input[type=number] {
    width: 75%;
}

input:focus {
    border: 1px solid #4688f1;
}

button,
input {
    font-size: 1.5em;
    padding: 10px;
    margin: 8px 0;
    display: inline;
    border-radius: 4px;
    box-sizing: border-box;
    outline: "none";
    border: 1px solid #ccc;
}

button {
    width: 15%;
}

form {
    display: inline;
}

#result {
    font-size: 1.5em;
    padding: 10px;
    display: inline-block;
	width:100%
}
table{
	width:100%;
}

.section{
	margin:0em 0em 3em 0em;
}
